.combobox {
  display: flex;
  flex-direction: column;
}

.combobox-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.combobox-control {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  /* padding: 4px; */
}

.combobox-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.combobox-trigger,
.combobox-clear-trigger {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 25px;
  font-size: 16px;
}

.combobox-content {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
  background: white;
  z-index: 1;
}

.combobox-item-group-label {
  font-weight: bold;
  padding: 8px;
  background: #f0f0f0;
}

.combobox-item {
  padding: 8px;
  cursor: pointer;
}

.combobox-item:hover {
  background: #f0f0f0;
}

.combobox-item-indicator {
  margin-left: 8px;
  color: green;
}
